
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

     button {
        width: 40px;
        height: 40px;
        font-family: inherit;
        font-weight: 600;
        font-size: 16px;
        margin: 0 10px;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: transparent;
        color: rgb(0, 0, 0);
        border-color: #eee;

      
    }

    button.active{
        background: black;
        color: white;
    }
}



