.hidden{
    display: none;
}
.pop-up{
position: absolute;
display: flex;
top: 0;
left: 0;
background-color: #8b898956;
width: 100vw;
height: 100vh;


.pop-up-content{
    
    background-color: white;
    width: 15%;
    height: 15em;
  margin: 10em auto;

   

    
}
}